@import "src/styles/constans";
@import "src/styles/mixin";

.wrapperMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;

  & .photo {
    width: 550px;
    height: 450px;
    position: relative;
  }

  & .photoWithFilter {
    width: 550px;
    height: 450px;
    position: relative;
    filter: grayscale(1);
  }

  & .discount {
    position: absolute;
    inset: 0;
    width: 53px;
    height: 31px;
    background-color: $pink;
    color: $white;
    font-weight: $bold;
    @include flexCenter;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  & .details {
    width: calc(100% - 500px);
    margin-bottom: 50px;
    position: relative;

    & .favorite {
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer;
    }

    & .aboutProduct {
      width: 100%;

      & h3 {
        font-weight: 600;
        font-size: $subtitle_18;
        line-height: 36px;
        letter-spacing: 0.06em;
        margin-bottom: 15px;
      }

      & .descriptions {
        width: 100%;

        & div {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 15px;

          & p:first-child {
            width: 200px;
          }

          & p {
            font-weight: 300;
            font-size: $title_16\24;
            line-height: 36px;
            letter-spacing: 0.06em;
          }
        }
      }
    }

    & .underline {
      width: 85%;
      height: 3px;
      margin: 25px auto;
      background-color: $white;
    }

    & .buyProduct {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;

      & strong {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        position: relative;
      }

      & .withBefore {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        position: relative;

        &::before {
          content: attr(data-price);
          position: absolute;
          top: -25px;
          left: 0;
          font-size: $title_16\24;
          font-weight: $bold;
          color: $red;
          text-decoration: line-through;
        }
      }

      & button {
        margin: 0;
        padding: 27px 24px 27px;
        background-color: $dark;
        color: white;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        cursor: pointer;
      }

      & .isDisabled {
        background-color: #4b4949;
        cursor: not-allowed;
      }

      & .Qty {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        grid-gap: 5px;
        gap: 5px;
        padding: 17px 24px 16px;
        background-color: $white;

        & p {
          font-weight: 400;
          font-size: $title_16\24;
          line-height: 36px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
        }

        & select {
          border: none;
          outline: none;
          font-weight: 400;
          font-size: $title_16\24;
          line-height: 36px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          background-color: transparent;
        }
      }

      & .QtyDisabled {
        cursor: not-allowed;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        grid-gap: 5px;
        gap: 5px;
        padding: 17px 24px 16px;
        background-color: $white;

        & p {
          font-weight: 400;
          font-size: $title_16\24;
          line-height: 36px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
        }

        & select {
          border: none;
          outline: none;
          font-weight: 400;
          font-size: $title_16\24;
          line-height: 36px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          background-color: transparent;
        }
      }
    }

    & .advantages {
      @include flexGap(10px);

      & .advantage {
        @include flexGap(6px);

        & p {
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          opacity: 0.6;
        }
      }
    }

    & .AboutPayment {
      width: 100%;

      & div:first-child {
        @include flexGap(5px);
        margin: 25px 0 10px;

        & h3 {
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
        }

        & .line {
          width: 50%;
          height: 3px;
          background-color: $white;
        }
      }

      & div:last-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;

        & img {
          width: 45px;
          object-fit: cover;
        }
      }
    }

    & .characteristic {
      width: 100%;

      & h3 {
        font-weight: 600;
        font-size: $subtitle_18;
        line-height: 36px;
        letter-spacing: 0.06em;
        margin-bottom: 15px;
      }

      & .descriptions {
        width: 100%;

        & div:nth-child(odd) {
          background-color: rgba(217, 217, 217, 0.1);
        }

        & div {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          & p {
            width: 50%;
            border-bottom: 2px solid $white;
            font-weight: 400;
            font-size: $title_16\24;
            line-height: 36px;
            letter-spacing: 0.06em;
          }

          & p:last-child {
            padding: 5px 0 6px 15px;
            border-left: 2px solid $white;
          }

          & p:first-child {
            display: flex;
            justify-content: flex-end;
            padding: 5px 15px 6px 0;
          }
        }
      }
    }

  }
}