@import "../../../../../styles/constans";
@import "../../../../../styles/mixin";

.characteristic {
  width: 100%;
  margin-top: 15px;

  & .descriptions {
    width: 100%;

    & div:nth-child(odd) {
      background-color: rgba(217, 217, 217, 0.1);
    }

    & div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      & p {
        width: 50%;
        border-bottom: 2px solid $white;
        font-weight: 400;
        font-size: $title_16\24;
        line-height: 36px;
        letter-spacing: 0.06em;
      }

      & p:last-child {
        padding: 5px 0 6px 15px;
        border-left: 2px solid $white;
      }

      & p:first-child {
        display: flex;
        justify-content: flex-end;
        padding: 5px 15px 6px 0;
      }
    }
  }
}