@import "../../../styles/constans";
@import "../../../styles/mixin";

.order {
  width: 33%;
  border: 3px solid $white;

  & .orderTitle {
    width: 100%;
    padding: 25px 15px;
    border-bottom: 3px solid $white;

    & h3 {
      font-size: $title_22\30;
      text-transform: uppercase;
      font-weight: $bold;
      letter-spacing: 0.06em;
      opacity: 0.6;
    }

    & p {
      font-size: $title_22\30;
      text-transform: uppercase;
      font-weight: $bold;
      letter-spacing: 0.06em;
      line-height: 36px;
      opacity: 0.6;
    }
  }

  & .goNext {
    padding: 25px 15px;
    @include flexCenter;

    .btnDisabled {
      background-color: #4b4949;
      cursor: not-allowed;
    }

    & button {
      margin: 0;
      width: 100%;
      padding: 27px 24px 27px;
      background-color: $dark;
      color: white;
      font-weight: 500;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}