@import "src/styles/constans";
@import "src/styles/mixin";

.summaryContainer {
  width: 35%;
}

.summary {
  width: 100%;
  border: 3px solid $white;

  margin: 25px 0;

  & .summaryTitle {
    width: 100%;

    & .title {
      padding: 25px 15px;

      & h3 {
        font-size: $title_22\30;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: 0.06em;
        opacity: 0.6;
      }

      & p {
        font-size: $title_22\30;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: 0.06em;
        line-height: 36px;
        opacity: 0.6;
      }
    }
  }

  & .summaryButton {
    padding: 25px 15px;
    @include flexCenter;

    & button {
      margin: 0;
      width: 100%;
      padding: 27px 24px 27px;
      background-color: $dark;
      color: white;
      font-weight: 500;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}


.descriptions {
  width: 100%;

  & div:nth-child(odd) {
    background-color: rgba(217, 217, 217, 0.1);
  }

  & div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      width: 50%;
      border-bottom: 2px solid $white;
      font-weight: 400;
      font-size: $title_16\24;
      line-height: 36px;
      letter-spacing: 0.06em;
    }

    & p:last-child {
      padding: 5px 0 6px 15px;
      border-left: 2px solid $white;
    }

    & p:first-child {
      display: flex;
      justify-content: flex-end;
      padding: 5px 15px 6px 0;
    }
  }
}
