//colors

$dark: #121212;
$grey: #E5E5E5;
$white: #F8F8F8;
$pink: #E91E63;
$yellow: #F0CC84;
$red: #D61313;
$green: #0BB17F;

//fonts
// size
$title_36\42: 36px;
$title_26\36: 26px;
$title_22\30: 22px;
$title_16\24: 16px;
$title_14\22: 14px;
$body_14\22: 14px;
$subtitle_12\18: 12px;
$small\18: 11px;
//line-height
$title_42: 42px;
$title_36: 36px;
$title_30: 30px;
$title_24: 24px;
$title_22: 22px;
$body_22: 18px;
$subtitle_18: 22px;
$small: 18px;


$bold: bold;



