@import "../../../../../styles/constans";
@import "../../../../../styles/mixin";

.buyProduct {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;

  & strong {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    position: relative;
  }

  & .withBefore {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    position: relative;

    &::before {
      content: attr(data-price);
      position: absolute;
      top: -25px;
      left: 0;
      font-size: $title_16\24;
      font-weight: $bold;
      color: $red;
      text-decoration: line-through;
    }
  }

  & button {
    margin: 0;
    padding: 27px 24px 27px;
    background-color: $dark;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    cursor: pointer;
  }

  & .isDisabled {
    background-color: #4b4949;
    cursor: not-allowed;
  }

  & .Qty {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    grid-gap: 5px;
    gap: 5px;
    padding: 17px 24px 16px;
    background-color: $white;

    & p {
      font-weight: 400;
      font-size: $title_16\24;
      line-height: 36px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    & select {
      border: none;
      outline: none;
      font-weight: 400;
      font-size: $title_16\24;
      line-height: 36px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      background-color: transparent;
    }
  }

  & .QtyDisabled {
    cursor: not-allowed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    grid-gap: 5px;
    gap: 5px;
    padding: 17px 24px 16px;
    background-color: $white;

    & p {
      font-weight: 400;
      font-size: $title_16\24;
      line-height: 36px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    & select {
      border: none;
      outline: none;
      font-weight: 400;
      font-size: $title_16\24;
      line-height: 36px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      background-color: transparent;
    }
  }
}