@import "src/styles/constans";
@import "src/styles/mixin";

.wrapper {
  width: 100%;
  margin-bottom: 50px;

  & .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  & .empty {
    width: 65%;
    width: 65%;
    height: calc(100vh - 150px);
  }

  & h2 {
    font-size: $title_22\30;
    text-transform: uppercase;
    font-weight: $bold;
    margin: 48px 0 48px;
    letter-spacing: 0.06em;
  }

  & .goods {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    height: calc(100vh - 150px);
    overflow: scroll;
    padding-bottom: 250px;
    & .item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 22px;

      & .photo {
        width: 275px;
        height: 175px;
        position: relative;

        & .discount {
          position: absolute;
          inset: 0;
          width: 53px;
          height: 31px;
          background-color: $pink;
          color: $white;
          font-weight: $bold;
          @include flexCenter;
        }

        & img {
          width: 275px;
          height: 175px;
          object-fit: cover;
        }
      }

      & .description {
        width: 55%;

        & a {
          text-decoration: none;
        }

        & h3 {
          font-size: $title_16\24;
          text-transform: uppercase;
          font-weight: $bold;
          letter-spacing: 0.06em;
          opacity: 0.6;
        }

        & .details {
          width: 100%;
          @include flexGap(15px);

          & .characteristics {
            width: 100%;
            margin-top: 15px;

            & .characteristic {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              & p {
                border-bottom: 2px solid $white;
                font-weight: 400;
                font-size: $title_16\24;
                line-height: 36px;
                letter-spacing: 0.06em;
                width: 50%;
              }

              & p:last-child {
                border-left: 2px solid $white;
                padding-left: 15px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              & select {
                border: none;
                outline: none;
                font-weight: 400;
                font-size: $title_16\24;
                line-height: 36px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                background-color: transparent;
              }

              & strong {
                font-weight: bold;
                font-size: 25px;
                line-height: 36px;
                position: relative;
                margin-top: 15px;
              }

              & .PriceAndTrash {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .withBefore {
                  font-weight: bold;
                  font-size: 25px;
                  line-height: 36px;
                  position: relative;

                  &::before {
                    content: attr(data-price);
                    position: absolute;
                    top: -20px;
                    left: 0;
                    font-size: $title_16\24;
                    font-weight: $bold;
                    color: $red;
                    text-decoration: line-through;
                  }
                }

                & svg {
                  margin-top: 12px;
                  cursor: pointer;

                  & path {
                    stroke: #121212;
                    transition: stroke 0.3s ease;
                  }

                  &:hover path {
                    stroke: $red;
                    transition: stroke 0.3s ease;
                  }
                }
              }
            }
          }
        }
      }
    }

    & .underline {
      width: 45%;
      height: 3px;
      background-color: $white;
      margin: 35px auto 15px;
    }
  }

  & .order {
    width: 33%;
    border: 3px solid $white;

    & .orderTitle {
      width: 100%;
      padding: 25px 15px;
      border-bottom: 3px solid $white;

      & h3 {
        font-size: $title_22\30;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: 0.06em;
        opacity: 0.6;
      }

      & p {
        font-size: $title_22\30;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: 0.06em;
        line-height: 36px;
        opacity: 0.6;
      }
    }

    & .goNext {
      padding: 25px 15px;
      @include flexCenter;

      .btnDisabled {
        background-color: #4b4949;
        cursor: not-allowed;
      }

      & button {
        margin: 0;
        width: 100%;
        padding: 27px 24px 27px;
        background-color: $dark;
        color: white;
        font-weight: 500;
        font-size: 16px;
        line-height: 15px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}