@import "src/styles/constans";
@import "src/styles/mixin";

.banner {
  margin-top: 32px;
  @include flexGap(30px);

  & .left, .right {
    width: 540px;
    height: 490px;
  }

  & .left {
    overflow: hidden;
    position: relative;

    & h2 {
      width: 289px;
      height: 100px;
      background-color: $white;
      border-radius: 4px;
      position: absolute;
      inset: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      @include flexCenter;
      font-size: $title_22;
    }

    & .slider {
      width: 100%;
      height: 100%;
        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
    }
  }

  & .right {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & .top {
      @include flexBetween;

      & .man, .woman {
        width: 255px;
        height: 200px;
        position: relative;

        & a {
          box-sizing: content-box;
          width: 86px;
          height: 48px;
          background-color: $white;
          padding: 13px 25px;
          position: absolute;
          inset: 50%;
          transform: translate(-50%,-50%);
          @include flexCenter;
          font-size: $title_14\22;
          text-transform: uppercase;
          font-weight: $bold;
          text-decoration: none;
          border-radius: 4px;
          letter-spacing: 0.06rem;
          line-height: $title_22;
          opacity: 1;
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.9;
            transition: opacity 0.3s ease;
          }
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    & .bottom {

      & .accessories {
        width: 100%;
        height: 260px;
        position: relative;
        & a {
          box-sizing: content-box;
          width: 168px;
          height: 48px;
          background-color: $white;
          padding: 13px 25px;
          position: absolute;
          inset: 50%;
          transform: translate(-50%,-50%);
          @include flexCenter;
          font-size: $title_14\22;
          text-transform: uppercase;
          font-weight: $bold;
          text-decoration: none;
          border-radius: 4px;
          letter-spacing: 0.06rem;
          line-height: $title_22;
          opacity: 1;
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.9;
            transition: opacity 0.3s ease;
          }
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }


  }
}


.comingSoon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 101;
  display: flex;
  justify-content: center;
  cursor: not-allowed;
  & p {
    margin-top: 50px;
    color: #E5E5E5;
    font-size: x-large;
    font-weight: bold;
  }
}
