@import "src/styles/constans";
@import "src/styles/mixin";

.item {
  width: 255px;
  position: relative;
  padding: 0 5px 5px 5px;
  -webkit-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.02);
  margin-bottom: 25px;

  & .discount {
    position: absolute;
    inset: 0;
    width: 53px;
    height: 31px;
    background-color: $pink;
    @include flexCenter;
    color: $white;
    font-weight: $bold;
  }

  & img {
    width: 100%;
    object-fit: cover;
  }

  & .info {
    @include flexBetween;
    flex-wrap: wrap;

    & a {
      text-decoration: none;
    }

    & .nameOfProduct {
      width: 100%;
      margin-top: 16px;
      margin-bottom: 12px;
      opacity: 0.6;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .priceOfProduct {
      font-size: $title_14\22;
      font-weight: $bold;

    }

    & .oldPrice {
      font-size: $small\18;
      font-weight: $bold;
      color: $red;
      text-decoration: line-through;
    }

    & .newPrice {
      font-size: $title_14\22;
      font-weight: $bold;
      position: relative;

      &::before {
        content: attr(data-price);
        position: absolute;
        top: -12px;
        left: 0;
        font-size: $small\18;
        font-weight: $bold;
        color: $red;
        text-decoration: line-through;
      }
    }
  }
}

.title {
  width: 100%;
  & p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}