@import "src/styles/constans";
@import "src/styles/mixin";

.discount {
  position: absolute;
  inset: 0;
  width: 53px;
  height: 31px;
  background-color: $pink;
  color: $white;
  font-weight: $bold;
  @include flexCenter;
}