@import "src/styles/constans";
@import "src/styles/mixin";


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}


.detailsContainer {
  width: 60%;
}

.summaryContainer {
  width: 35%;
}

.details {
  width: 100%;

  & div:nth-child(odd) {
    background-color: rgba(217, 217, 217, 0.1);
  }

  & div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      border-bottom: 2px solid $white;
      font-weight: 400;
      font-size: $title_16\24;
      line-height: 36px;
      letter-spacing: 0.06em;
    }

    & p:last-child {
      width: 70%;
      padding: 5px 0 6px 15px;
      border-left: 2px solid $white;
    }

    & p:first-child {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      padding: 5px 15px 6px 0;
    }
  }
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

h4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-bottom: 55px;
}

.summary {
  width: 100%;
  border: 3px solid $white;

  margin: 25px 0;

  & .summaryTitle {
    width: 100%;

    & .title {
      padding: 25px 15px;

      & h3 {
        font-size: $title_22\30;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: 0.06em;
        opacity: 0.6;
      }

      & p {
        font-size: $title_22\30;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: 0.06em;
        line-height: 36px;
        opacity: 0.6;
      }
    }
  }

  & .summaryButton {
    padding: 25px 15px;
    @include flexCenter;

    & button {
      margin: 0;
      width: 100%;
      padding: 27px 24px 27px;
      background-color: $dark;
      color: white;
      font-weight: 500;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.descriptions {
  width: 100%;

  & div:nth-child(odd) {
    background-color: rgba(217, 217, 217, 0.1);
  }

  & div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      width: 50%;
      border-bottom: 2px solid $white;
      font-weight: 400;
      font-size: $title_16\24;
      line-height: 36px;
      letter-spacing: 0.06em;
    }

    & p:last-child {
      padding: 5px 0 6px 15px;
      border-left: 2px solid $white;
    }

    & p:first-child {
      display: flex;
      justify-content: flex-end;
      padding: 5px 15px 6px 0;
    }
  }
}
.item {
  width: 1109px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 22px;

  & .photo {
    width: 30%;
    height: 175px;
    position: relative;

    & .discount {
      position: absolute;
      inset: 0;
      width: 53px;
      height: 31px;
      background-color: $pink;
      color: $white;
      font-weight: $bold;
      @include flexCenter;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .descriptionItem {
    width: 70%;

    & a {
      text-decoration: none;
    }

    & h3 {
      font-size: $title_16\24;
      text-transform: uppercase;
      font-weight: $bold;
      letter-spacing: 0.06em;
      opacity: 0.6;
    }

    & .detailsItem {
      width: 100%;
      @include flexGap(15px);

      & .characteristicsItem {
        width: 100%;
        margin-top: 15px;

        & .characteristicItem {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          & p {
            border-bottom: 2px solid $white;
            font-weight: 400;
            font-size: $title_16\24;
            line-height: 36px;
            letter-spacing: 0.06em;
            width: 50%;
          }

          & p:last-child {
            border-left: 2px solid $white;
            padding-left: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          & select {
            border: none;
            outline: none;
            font-weight: 400;
            font-size: $title_16\24;
            line-height: 36px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            background-color: transparent;
          }

          & strong {
            font-weight: bold;
            font-size: 25px;
            line-height: 36px;
            position: relative;
            margin-top: 15px;
          }

          & .PriceAndTrash {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 25px;

            & .withBefore {
              font-weight: bold;
              font-size: 25px;
              line-height: 36px;
              position: relative;

              &::before {
                content: attr(data-price);
                position: absolute;
                top: -20px;
                left: 0;
                font-size: $title_16\24;
                font-weight: $bold;
                color: $red;
                text-decoration: line-through;
              }
            }

            & svg {
              margin-top: 12px;
              cursor: pointer;

              & path {
                stroke: #121212;
                transition: stroke 0.3s ease;
              }

              &:hover path {
                stroke: $red;
                transition: stroke 0.3s ease;
              }
            }
          }
        }
      }
    }
  }
}

.underline {
  width: 100%;
  height: 3px;
  background-color: $white;
  margin: 35px auto 15px;
}