@import "../../../styles/constans";
@import "../../../styles/mixin";

.goods {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;

    & .item {
      width: 1109px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 22px;

      & .description {
        width: 70%;

        & a {
          text-decoration: none;
        }

        & h3 {
          font-size: $title_16\24;
          text-transform: uppercase;
          font-weight: $bold;
          letter-spacing: 0.06em;
          opacity: 0.6;
        }

        & .details {
          width: 100%;
          @include flexGap(15px);
        }
      }
    }

  }
