@import "src/styles/constans";
@import "src/styles/mixin";

.author {
  background-color: $white;
  padding: 12px 0;
}

.main {
  @include flexGap(62px);
  & img {
    width: 381px;
    object-fit: cover;
  }
  & a, p {
    font-size: 11px;
    opacity: 0.8;
    text-decoration: none;
  }
}